body{
    background-color: #000;
}
.post{
    background-color: #fff;
    width: 50%;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
.icon-html{
    font-size: 50px;
    padding-left: 5px;
}
#contenido{
    padding-bottom: 10px;
}
p{
    font-size: 15px;
}
}
#icono-menu{
    margin-right: 10px;
    cursor: pointer;
}
#icono-menu:hover{
    color: #666;
}
#contenido{
    width: 100%;
    line-height: 0;
}
.imagen{
    width: 100%;
    height: 100%;
    }

#icons{
    display: flex;
    justify-content: space-between;
.iconos{
    cursor: pointer;
    margin: 5px 0 0 10px
    }
#tag{
    cursor: pointer;
    margin: 5px 10px 0 0;
    }
}
.heart:hover{
    color: #f00;
}
.chat:hover{
    color: #a5f;
}
.plane:hover{
    color: #38f;
}
#tag:hover{
    color: #f70;
}


.footer{
    #text{
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        margin: 10px;
        font-size: 15px;
        padding: 5px;
    }
}
